p {
	font-size: 18px;
}

hr {
	border-style: solid;
	border-width: 2px;
	border-color: #700000;
	opacity: 100%;
}

.about-container {
	margin-top: 20px;
}

.top-page-logo {
	height: 200px;
}

.about-text {
	margin-top: 20px;
	margin-bottom: 20px;
}

.meet-heading {
	font-family: 'Catamaran', sans-serif;
	font-weight: 800;
	font-size: 45px;
	font-style: italic;
}

.headshot {
	border-radius: 50%;
	margin-bottom: 10px;
}

.teammate-name {
	font-family: 'Catamaran', sans-serif;
	font-weight: 700;
	font-size: 30px;
	font-style: italic;
	color: #700000;
	margin-bottom: 5px;
}

.teammate-title {
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
}

@media only screen and (max-width: 600px) {
	p {
		font-size: 14px;
	}

	.top-page-logo {
		display: none;
	}

	.about-text {
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
}
