.navbar {
	background-color: #700000;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #bababa;
}

.nav-link:focus {
	color: white;
	font-weight: 700;
}

.hero-image {
	height: 700px;
	background-image: url('assets/datsun-hero.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 20%;
	left: 25%;
	transform: translate(-50%, -50%);
	color: black;
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 48px;
}
